<!doctype html>
<html>
    <head>
        <title>{{ptitle}}</title>
        <meta charset="utf-8">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/style.css') }}"/>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/style.css') }}"/>
        <link href="https://fonts.googleapis.com/css?family=Mali|PT+Sans" rel="stylesheet">
        <nav class = "navigation">|
          <a href="/blog">Main Blog Page</a>  |
          <a href="/newpost">Add A Blog Entry</a>  |
        </nav>
      </head>
    <body>

        {% block content %}
        {% endblock %}

    </body>
</html>
